<% layout("/layouts/boilerplate")%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Book Stay</h2>
            <form action="/listings/<%= listing._id %>/book" method="Post"  novalidate class="needs-validation">
                
                <div  class="mb-3">
                        <label for="checkIn" class="form-label">Check-in</label>
                        <input type="date" id="checkIn" name="checkIn"  class="form-control"required>
                        <div class="invalid-feedback">Enter a valid CheckIn Date!</div>
                </div>
                <div class="mb-3">
                     <label for="checkOut" class="form-label">Check-out</label>
                     <input type="date" id="checkOut" name="checkOut"  class="form-control"required>
                     <div class="invalid-feedback">Enter a valid CheckOut Date!</div>
                </div>
                <div class="mb-3">
                        <label for="guests" class="form-label">Guests</label>
                        <input  id="guests" name="guests" type="number" placeholder="1" class="form-control" min="1" required>
                </div>
                <button class="btn mt-3 btn-dark add-btn ">Book Stay</button>
                <br><br>
            </form>
        </div>
    </div>
</body>